body{
    background: linear-gradient(to bottom right, #fff5bf, #ffd901);
    color: #252525;
}

.navbar{
    background: linear-gradient(to bottom right, #252525, #3d3d3d, #4d4c4c);
    color: whitesmoke;
    height: 100px;
}


.container-fluid{
    margin-top: 3%;
}

#top{
    margin-top: 100px;
}

.row-content{
    margin: 10% 10% 5% 10%;
}


#communityList{
    background-color:#919191;
    color: whitesmoke;
}

#communityList .card-header{
    background-color:#919191;
}
#communityList .card-body{
    color: whitesmoke;
}

#communityList .card-body a{
    text-decoration: none;
    color: whitesmoke;
}


.forumInfoHeader{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}

.forumInfo{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.forumInfo a{
    text-decoration: none;
    color: black;
}


.forumPostPrototype{
    margin-bottom: 2%;
}

.forumPost{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#homeLogin{
    margin-top: 30%;
    margin-bottom: 30%;
}

.home{
    background: linear-gradient(to bottom right , #bb72ff , #ac52ff , #b670f8);
}


#side_menu{
    background: linear-gradient(to bottom right, #252525, #3d3d3d, #4d4c4c);
    width: 50px;
    padding-left: 30px;
}

#side_menu .elements{
    text-decoration: none;
    display: none;
    color: whitesmoke;
}

#side_bar{
    display: flex;
}

#side_menu i{
    width: 30px;
    height: 30px;
}

#b1{
    background-color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    #side_menu {
        padding-left: 10px;
    }
    #side_menu .elements{
        font-size: 70%;
    }
    #communityList{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    #side_menu {
        padding-left: 5px;
    }
    #side_menu .elements{
        font-size: 50%;
    }
}

@media screen and (max-width: 300px) {
    #side_menu {
        padding-left: 5px;
    }
    #side_menu .elements{
        font-size: 40%;
    }
}

@media screen and (max-width: 1300px) {
    .fixed-top .form-inline input{
        width: 70%;
    }
    .fixed-top .form-inline .btn{
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .fixed-top .form-inline input{
        width: 60%;
    }
    .fixed-top .form-inline .btn{
        margin-right: 5px;
    }

    .postComments , .postComments h6, .forumPostPrototypeSolo, .forumPostPrototypeSolo h5, .forumPostPrototypeSolo h6{
        font-size: 80%;
    }

}

@media screen and (max-width: 500px) {
    .fixed-top .navbar-brand{
        font-size: 90%;
    }
    .fixed-top .form-inline input{
        width: 50%;
    }
    .fixed-top .form-inline .btn{
        width: 40%;
    }
    .fixed-top .form-inline input::-webkit-input-placeholder {
        font-size: 80%;
    }
}

.accordian-item, .accordian-button{
    border-style: none;
    width: 100%;
  }
  